[submodule "code-a-long/lect20-demo"]
	path = code-a-long/lect20-demo
	url = https://github.com/jomart-gsu/lect20-demo-006
[submodule "finalproject-finished"]
	path = finalproject-finished
	url = https://github.com/lornahokoth/Final-Project-SWE
[submodule "project1-sub"]
	path = project1-sub
	url = https://github.com/csc4350-sp22/project1-lokoth1
